.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'PokemonSolid', sans-serif;
    padding: 20px;
    width: 100%;
  }
  
  .title {

    padding: 2%;
    font-size: 2em;
    margin: 200px;
  }
  
  .selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #333;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    font-family: 'PokemonSolid', sans-serif;

    background-color: #ffcb05;
    color:  #3c5aa6;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #c7a008;
  }
  
@media only screen and (max-width: 600px) {
  
    .container2 {
   
        padding-top: 50%;

    }
  
    
  }